body{
	
	Font-family: "Arial, Helvetica, sans-serif";
	text-align: justify;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	color:#000000;
	text-align:justify;
	line-height:130%;
	font-size:12px;
	}
td{
	color:#000000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:justify;
	line-height:normal;
}
.fontnormal
	{
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:justify;
	}
.txtpage{
	color:#666666;
}
.fontw
	{
	color: #ffffff;
	font-family:"Arial, Helvetica, sans-serif";
	font-size:12px;
	text-align:justify;
	font-weight:bold;
	}
.copyr
	{
	color:#FFFFFF;
	font-family:"Arial, Helvetica, sans-serif";
	font-size:12px;
	text-align:justify;
	}			
a.a1{
	color:#FFFFFF;
	font-size:11px; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none; 
	}
a.a1:link {
	color:#FFFFFF;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-decoration: none;
	}
a.a1:visited {
	color:#FFFFFF;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-decoration:none;
	}
a.a1:hover {
	color:#FFFFFF;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-decoration:none;
	background-image:url(images/bgmn.png);
	padding:12px 17px ;
	width:100%;
	height:39px;
	}
a.a2:link {
	color:#0659a7;
	font-size:16px;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	text-decoration:none;
	}
a.a2:visited {
	color:#0659a7;
	font-size:16px;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	text-decoration:none;
	}
a.a2:hover {
	color:#d50606;
	font-size:16px;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	text-decoration:none;
	}
a.a3:link {
	color: #085a8e;
	font-size:11px;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	text-decoration: none;
	}
a.a3:visited {
	color: #085a8e;
	font-size:11px;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	text-decoration: none;
	}
a.a3:hover {
	color:#085a8e;
	font-size:11px;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	text-decoration: none;
	}
a.a4:link {
	color:#4784c1;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-decoration: none;
	}
a.a4:visited {
	color:#4784c1;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-decoration:none;
	}
a.a4:hover {
	color:#044771;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-decoration: none;
	}
a.a5:link {
	color:#bf0505;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-weight:bold;
	}
a.a5:visited {
	color:#bf0505;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-weight:bold;
	}
a.a5:hover {
	color:#4784c1;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight:bold;
	}
a.a6:link {
	color:#FFFFFF;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight:bold;
	}
a.a6:visited {
	color:#FFFFFF;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-weight:bold;
	}
a.a6:hover {
	color:#2c2c2c;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-weight:bold;
	}	
a.a7:link {
	color:#fffc00;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-weight:bold;
	}
a.a7:visited {
	color:#fffc00;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-weight:bold;
	}
a.a7:hover {
	color:#00436d;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-weight:bold;
	}		
a.a8:link {
	color:#6c049c;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-weight:bold;
	}
a.a8:visited {
	color:#6c049c;
	font-size:11px;
	Font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-weight:bold;
	}
a.a8:hover {
	color:#FFFFFF;
	font-size:11px;
	Font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-weight:bold;
	}	
a.a9:link {
	color:#016368;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-weight:bold;
	}
a.a9:visited {
	color:#016368;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-weight:bold;
	}
a.a9:hover {
	color:#FFFFFF;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-weight:bold;
	}
a.a10:link {
	color:#0052ae;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-weight:bold;
	}
a.a10:visited {
	color:#0052ae;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-weight:bold;
	}
a.a10:hover {
	color:#FFFFFF;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-weight:bold;
	}

.submitbutton {
	border-top:#FF9900 1px solid;
	border-left:#FF9900 1px solid;
	border-right:#FF9900 1px solid;
	border-bottom:#FF9900 1px solid;
	font-size:12px;
	color:#FFFFFF;
	font-weight: bold;
	font-family:"Arial, Helvetica, sans-serif";
	background-color:#FF6600;
	}
.box_input {
	border-right:#FFEE00 1px solid;
	border-top:#FFEE00 1px solid;
	border-left:#FFEE00 1px solid;
	border-bottom:#FFEE00 1px solid;
	font-size:12px;
	color:#000000;
	font-family:"Arial, Helvetica, sans-serif";
	background:#FFFFFF;
	width:100%;
	}
.box_input_2 {
	border-right:#FFEE00 1px solid;
	border-top:#FFEE00 1px solid;
	border-left:#FFEE00 1px solid;
	border-bottom:#FFEE00 1px solid;
	font-size:12px;
	color:#000000;
	font-family:"Arial, Helvetica, sans-serif";
	background:#FFFFFF;
	width:100%;
	}	
.box_area {
	border-right:#FFEE00 1px solid;
	border-top:#FFEE00 1px solid;
	border-left:#FFEE00 1px solid;
	border-bottom:#FFEE00 1px solid;
	font-size:12px;
	color:#000000;
	font-family:"Arial, Helvetica, sans-serif";
	background:#FFFFFF;
	width:100%;
	}
.menu {

	color:#065cd3;
	font-weight:normal;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

.border {
	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-top-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-top-color:#cccccc;
	border-right-color:#cccccc;
	border-bottom-color:#cccccc;
	border-left-color:#cccccc;
}
.bor3 {
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#FFFFFF;
	border-left-style:solid;
	border-left-width:1px;
	border-left-color:#FFFFFF;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#FFFFFF;
}
.bor2 {
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#b6bfc6;
	border-left-width:1px;	
	border-left-style:solid;	
	border-left-color:#b6bfc6;
}

.bor2-1 {
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#509381;
	border-left-width:1px;	
	border-left-style:solid;	
	border-left-color:#509381;
}
.borderbottom {
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#b6bfc6;
}
.bordertop{ border-top-width:1px;
border-top-style:solid;
border-top-color:#b6bfc6;}

.footer{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#0077c3;
	font-weight:bold;
	text-transform: none;
}
.font11{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#2f3031;
	font-weight:bold;
	text-transform:none;
}
.f11x{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#47a0d4;
	font-weight:bold;
	text-transform:none;
}

.fonttab {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#0c587f;
	font-weight:bold;
}
.fontmenu1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#0096ff;
	font-weight:bold;
}
.fontmenu2 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	font-weight:bold;
}
.f11blue {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#166579;
	font-weight:bold;
}

.black {
	font-family:Verdana, Geneva, sans-serif
	font-size:11px;
	color:#3f3f3f;
	font-weight:normal;
}
.f12den {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#000000;
}
.f12trang {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#FFFFFF;
}
.f11den {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666666;
	font-weight:bold;
}
.f11vang {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#FCFF00;
	text-decoration:none;
}
.f10trang {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFFFFF;
	font-weight:bold;
	text-transform:none;
}
.f11trang {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	font-weight:bold;
}
.f10den {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	font-weight:bold;
}
.fvangbold {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#fdf576;
}
.fvang {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFFC00;
	font-weight:bold;
	text-transform:none;
}
.fdo {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#930202;
	text-decoration:none;
}
.f12vang {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFF00;
	font-weight:bold;
}

a.a13:link {
	color: black;
	font-size:12px;
	font-family:Tahoma, Geneva, sans-serif;
		
	text-decoration: none;
	}
a.a13:visited {
	color: black;
	font-size:12px;
	font-family:Tahoma, Geneva, sans-serif;

	text-decoration: none;
	}
a.a13:hover {
	color:#58a033;
	font-size:12px;
	font-family:Tahoma, Geneva, sans-serif;


	text-decoration: none;
	}
a.a14:link {
	color: black;
	font-size:18px;
	font-family:Tahoma, Geneva, sans-serif;
		
	text-decoration: none;
	}
a.a14:visited {
	color: black;
	font-size:18px;
	font-family:Tahoma, Geneva, sans-serif;

	text-decoration: none;
	}
a.a14:hover {
	color:#58a033;
	font-size:18px;
	font-family:Tahoma, Geneva, sans-serif;


	text-decoration: none;
	}

