/* -------------------------------------------------- */

html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 100px;
}

@media (max-width: 767px) {
	h1 { font-size: 24px; }
	h2 { font-size: 20px; }
	h3 { font-size: 16px; }
	h4 { font-size: 15px; }
}

/* -------------------------------------------------- */
/* property specific */

.padding-t00 { padding-top: 0; }
.padding-t05 { padding-top: 5px; }
.padding-t10 { padding-top: 10px; }
.padding-t20 { padding-top: 20px; }
.padding-r00 { padding-right: 0; }
.padding-r05 { padding-right: 5px; }
.padding-r10 { padding-right: 10px; }
.padding-r20 { padding-right: 20px; }
.padding-b00 { padding-bottom: 0; }
.padding-b05 { padding-bottom: 5px; }
.padding-b10 { padding-bottom: 10px; }
.padding-b20 { padding-bottom: 20px; }
.padding-l00 { padding-left: 0; }
.padding-l05 { padding-left: 5px; }
.padding-l10 { padding-left: 10px; }
.padding-l20 { padding-left: 20px; }
.padding-10 { padding: 10px; }
.padding-20 { padding: 20px; }

.margin-t00 { margin-top: 0; }
.margin-t05 { margin-top: 5px; }
.margin-t10 { margin-top: 10px; }
.margin-t20 { margin-top: 20px; }
.margin-r00 { margin-right: 0; }
.margin-r10 { margin-right: 5px; }
.margin-r10 { margin-right: 10px; }
.margin-r20 { margin-right: 20px; }
.margin-b00 { margin-bottom: 0; }
.margin-b10 { margin-bottom: 5px; }
.margin-b10 { margin-bottom: 10px; }
.margin-b20 { margin-bottom: 20px; }
.margin-l00 { margin-left: 0; }
.margin-l10 { margin-left: 5px; }
.margin-l10 { margin-left: 10px; }
.margin-l20 { margin-left: 20px; }

.size30 { font-size: 30px; }
.size24 { font-size: 24px; }
.size20 { font-size: 20px; }
.size18 { font-size: 18px; }
.size16 { font-size: 16px; }
.size14 { font-size: 14px; }
.size13 { font-size: 13px; }
.size12 { font-size: 12px; }
.size10 { font-size: 10px; }

.size09em { font-size: 0.9em; }
.size08em { font-size: 0.8em; }

.color-white { color: #fff; }
.color-red { color: #ff0000; }
.color-dark-red { color: #cc0000; }
.color-blue { color: #007ace; }
.color-dark-blue { color: #005188; }
.color-link-blue { color: #428bca; }
.color-gray { color: #777; }
.color-light-gray { color: #999; }
.color-lighter-gray { color: #ccc; }
.color-green { color: #090; }
.color-purple { color: #b900ca; }
.color-fushcia { color: #d500a0; }
.color-orange { color: #F60; }
.color-brown { color: #bd8100; }
.color-black { color: #000; }

.bg-light-gray { background-color: #ccc; }
.bg-lighter-gray { background-color: #eee; }
.bg-odd { background-color: #fff; }
.bg-even { background-color: #f6f6f6; }

.cursor-pointer { cursor: pointer; }
.cursor-help { cursor: help; }
.cursor-default { cursor: default; }
.cursor-disabled { cursor: not-allowed; }

.none { display: none; }
.bold { font-weight: bold; }
.norm { font-weight: normal; }
.text-dec-none { text-decoration: none; }
.text-dec-underline { text-decoration: underline; }
.no-wrap { white-space: nowrap }

#keywords { width: 100%; }
@media (min-width: 768px) { #keywords { width: 100px; } }

/* -------------------------------------------------- */
/* navigation - nav */

.navbar { margin-bottom: 10px; }

/* Makes font awesome icons work */
.navbar-toggle {
	margin-top: 9px;
	padding: 5px 10px;
}

.black-bg {
	background-color: #000;
	border-radius: 5px;
}

@media (min-width: 768px) {
	.navbar-ghi .navbar-nav.navbar-right:last-child {
		margin-right: 0;
	}
}

.navbar-ghi .navbar-nav > li > a {
	color: #fff;
	background-color: transparent;
}

.navbar-ghi .navbar-nav > li > a:hover,
.navbar-ghi .navbar-nav > li > a:focus {
	background-color: transparent;
}

.navbar-ghi .navbar-toggle {
	color: #bed7ed;
	border-color: #bed7ed;
}

@media (max-width: 767px) {
	.navbar-ghi .container:last-child {
		background-color: #428bca;
		border-radius: 0;
	}
	.navbar-ghi .navbar-collapse {
		background-color: #0065aa;
	}
	.navbar-ghi .navbar-collapse .navbar-nav > li > a {
		background-color: #0065aa;
	}
	.navbar-ghi .navbar-collapse .navbar-nav > li > a:hover,
	.navbar-ghi .navbar-collapse .navbar-nav > li > a:focus {
		background-color: #0065aa;
	}
	.navbar-ghi .navbar-nav .open .dropdown-menu {
		background-color: #d1dde8;
	}
	.navbar-ghi .navbar-nav .open .dropdown-menu > .dropdown-header {
		color: #000;
	}
	.navbar-ghi .navbar-nav .open .dropdown-menu .divider {
		background-color: #000;
	}
}

.header-tbl { display:table; width:100%; }
.header-tbl-btn { display:table-cell; width:20%; color:#fff; }
.header-tbl-logo { display:table-cell; width:60%; text-align:center; vertical-align:middle; }
.header-tbl div:first-child { padding-left:15px; }

@media (min-width: 768px) {
	.header-tbl { display: none; }
}

.navbar-top { margin-top:10px; height:60px; }

@media (max-width: 767px) {
	.navbar-top { display:none; }
}

/* -------------------------------------------------- */
/* navigation - off canvas */

.sidebar { font-size: 13px; }

@media (max-width: 767px) {
	.row-offcanvas {
		position: relative;
		-webkit-transition: all .10s ease-out;
			 -o-transition: all .10s ease-out;
				transition: all .10s ease-out;
	}
	.row-offcanvas-right { right: 0; }
	.row-offcanvas-left { left: 0; }
	.sidebar-offcanvas {
		position: absolute;
		top: 0;
	}
	.sidebar-offcanvas .list-group-item {
		white-space: nowrap;
		overflow: hidden;
	}
}

@media (min-width: 521px) and (max-width: 767px) {
	.row-offcanvas-right
	.sidebar-offcanvas { right: -45%; }
	.row-offcanvas-left
	.sidebar-offcanvas { left: -45%; }
	.row-offcanvas-right.active { right: 45%; }
	.row-offcanvas-left.active { left: 45%; }
	.sidebar-offcanvas { width: 45%; }
}

@media (max-width: 520px) {
	.row-offcanvas-right
	.sidebar-offcanvas { right: -65%; }
	.row-offcanvas-left
	.sidebar-offcanvas { left: -65%; }
	.row-offcanvas-right.active { right: 65%; }
	.row-offcanvas-left.active { left: 65%; }
	.sidebar-offcanvas { width: 65%; }
}

/* -------------------------------------------------- */
/* navigation */

.sidebar.affix { top: 20px; }
.sidebar.affix-bottom { position: absolute; }

/* navigation - catalog */

.sidebar-list > ul li a { padding: 8px 12px; }
.sidebar-list ul { list-style: none; }
.sidebar-list ul, .sidebar-list li { padding: 0; }
.sidebar-list li a {
	display: block;
	color: #fff;
	background-color: #000;
	text-decoration: none;
	border-bottom: 1px solid #fff;
}
.sidebar-list li:first-child a {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.sidebar-list li:last-child a {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.sidebar-list li a:hover { background-color: #007ace; }
.sidebar-list li.active > a {
	margin-top: -1px;
	background-color: #fff;
	color: #000;
	border: 1px solid #000;
	border-width: 0 1px 0 1px 0;
}
.sidebar-list li.sale > a {
	background-color: #cc0000;
}
.sidebar-list li.sale:hover > a {
	background-color: #e80000;
}
.sidebar-list li.sale.active > a {
	background-color: #fff;
	color: #cc0000;
	border: 1px solid #cc0000;
}
.sidebar-list ul ul { margin: 1px 2px 5px 2px; }

/* navigation - everything else */

.list-group-sidebar .list-group-item {
	padding: 8px 12px;
	background-color: #000;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}
.list-group-sidebar a.list-group-item {
	color: #fff;
	outline: none;
}
.list-group-sidebar a.list-group-item:hover,
.list-group-sidebar a.list-group-item:focus {
	color: #fff;
	background-color: #007ace;
	border-left: 1px solid #007ace;
	border-right: 1px solid #007ace;
}
.list-group-sidebar .list-group-item.active,
.list-group-sidebar .list-group-item.active:hover,
.list-group-sidebar .list-group-item.active:focus {
	color: #000;
	background-color: #fff;
	border-color: #000;
}

.paged { padding: 15px 0 10px 0; }
.paged p { margin: 0 0 10px 0; }
.paged ul { margin: 0 0 10px 0; }

@media (max-width: 767px) {
	.paged { text-align: center; }
}

.nav-pills-box li {
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ddd;
	border-width: 1px 0 1px 1px;
}
.nav-pills-box > li + li {
	margin-top: 0;
	margin-left: 0;
}
.nav-pills-box > li a {
	margin: 0;
}
.nav-pills-box li:last-child {
	border-width: 1px 1px 1px 1px;
}
.nav-pills-box li:hover {
	background-color: #eee;
}
.nav-pills-box li:hover a {
	background-color: transparent;
}
@media (max-width: 767px) {
	.nav-pills-box li {
		border-width: 1px 1px 0 1px;
	}
}

/* -------------------------------------------------- */
/* alerts */

.alert { margin-bottom: 10px; }
.alert .alert-link { font-weight: normal; }

.alert-warning { border-color: #dccfb3; }

.alert-muted {
  color: #909090;
  background-color: #f5f5f5;
  border-color: #d4d4d4;
}
.alert-muted hr {
  border-top-color: #d7d7d7;
}
.alert-muted .alert-link {
  color: #6b6b6b;
}

/* -------------------------------------------------- */
/* footer */

.footer {
	position: absolute;
	bottom: 0;
	padding-top: 20px;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	color: #000;
	background-color: #ccc;
}
.footer > .container { padding-right: 15px; padding-left: 15px; text-align: center; }
.footer ul { margin: 0; padding: 0; list-style: none; }
.footer ul > li { display: inline-block; margin-right: 20px; }
.footer ul > li:last-child { margin-right: 0; }
.footer ul > li a { color: #000; text-decoration: underline; }

/* -------------------------------------------------- */
/* bars */

.bar {
	width: 100%;
	margin: 10px 0;
	border-bottom: 1px solid #ccc;
}

.bar-headline {
	width: 100%;
	margin: 0 0 20px 0;
	border-bottom: 1px solid #808080;
}

.bar-dotted {
	width: 100%;
	margin: 10px 0;
	border-bottom: 1px dotted #ccc;
}

.bar-notop {
	margin: 0 0 10px 0;
}

.bar-nobot {
	margin: 10px 0 0 0;
}

.bar-tall {
	margin: 20px 0;
}

.bar-black {
	border-color: #000;
}

/* miscellaneous */

.required {
	color: #900;
	margin-bottom: 10px;
}

.bg-selected,
.bg-selected td {
	background-color: #eee !important;
}

.add-this {
	float: right;
	height: 16px;
}

.over-hidden { overflow: hidden; }
.over-scroll { overflow: scroll; }

.one-liner {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text-r2l { text-align: right; }
.text-r2c { text-align: right; }
.text-l2c { text-align: left; }

@media (max-width: 767px) {
	.text-r2l {
		text-align: left;
		padding-top: 8px;
	}
	.text-r2c {
		text-align: center;
		padding-top: 8px;
	}
	.text-l2c {
		text-align: center;
		padding-top: 8px;
	}
}

.coupon {
	margin-bottom: 30px;
	padding: 10px;
	border: 3px dashed #000;
}

.unlisted {
	color: #999 !important;
}
.unlisted a {
	color: #999 !important;
	text-decoration: underline;
}

.list-group-sm .list-group-item {
	padding: 5px 10px;
}

.list-group-select .list-group-item {
	padding: 7px 14px;
}
.list-group-select .radio {
	margin: 0;
}

.list-group-prev .list-group-item {
	word-wrap: break-word;
}

a.link-remove {
	color: #e23c3c;
	white-space: nowrap !important;
}
a.link-remove:hover { color: #b70000; }

#map-canvas {
	width: 100%;
	height: 400px;
	margin-bottom: 10px;
}

.codearea {
	margin: 10px 0 15px 0;
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
	overflow: auto;
}

/* -------------------------------------------------- */

.fast-transition {
	-webkit-transition: height 0.10s;
	-moz-transition: height 0.10s;
	-ms-transition: height 0.10s;
	-o-transition: height 0.10s;
	transition: height 0.10s;
}

.rotator-tabs { width:100%; height:40px; padding:5px 0 5px 0; background:#fff; }
.rotator-tabs-table { margin:0 auto; display:table; }
.rotator-tabs-table span
{ 
	color:#ccc; padding:5px; display:table-cell; cursor:pointer;
	-webkit-touch-callout:none; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;
}
.rotator-tabs-table span:hover { color:#007ace; }
.rotator-tabs-table span.selected { color:#000; }

/* -------------------------------------------------- */
/* breadcrumb */

.breadcrumb {
  padding: 0 0 10px 0;
  margin-bottom: 20px;
  background-color: transparent;
  border-bottom: 1px solid #ccc;
}

/* -------------------------------------------------- */
/* buttons */

.recaptcha {
	display: inline-block;
	min-height: 80px;
	padding: 4px 2px 2px 4px;
	border: 1px solid transparent;
}

.has-error .recaptcha {
	border: 1px solid #a94442;
	border-radius: 3px;
}

.btn-youtube {
	color: #fff;
	background-color: #cc181e;
	border-color: transparent;
}
.btn-youtube:hover,
.btn-youtube:focus,
.btn-youtube:active,
.btn-youtube.active,
.open > .dropdown-toggle.btn-youtube {
	color: #fff;
	background-color: #e30000;
	border-color: transparent;
}
.btn-youtube:active,
.btn-youtube.active,
.open > .dropdown-toggle.btn-youtube {
	background-image: none;
}

.btn-google {
	color: #fff;
	background-color: #ff0000;
	border-color: transparent;
}
.btn-google:hover,
.btn-google:focus,
.btn-google:active,
.btn-google.active,
.open > .dropdown-toggle.btn-google {
	color: #fff;
	background-color: #e30000;
	border-color: transparent;
}
.btn-google:active,
.btn-google.active,
.open > .dropdown-toggle.btn-google {
	background-image: none;
}

.btn-facebook {
	color: #fff;
	background-color: #4a6fc3;
	border-color: transparent;
}
.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.open > .dropdown-toggle.btn-facebook {
	color: #fff;
	background-color: #3c599b;
	border-color: transparent;
}
.btn-facebook:active,
.btn-facebook.active,
.open > .dropdown-toggle.btn-facebook {
	background-image: none;
}

.btn-twitter {
	color: #fff;
	background-color: #68bcf6;
	border-color: transparent;
}
.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.open > .dropdown-toggle.btn-twitter {
	color: #fff;
	background-color: #5eaade;
	border-color: transparent;
}
.btn-twitter:active,
.btn-twitter.active,
.open > .dropdown-toggle.btn-twitter {
	background-image: none;
}

.btn-rss {
	color: #fff;
	background-color: #ffa800;
	border-color: transparent;
}
.btn-rss:hover,
.btn-rss:focus,
.btn-rss:active,
.btn-rss.active,
.open > .dropdown-toggle.btn-rss {
	color: #fff;
	background-color: #ff8a00;
	border-color: transparent;
}
.btn-rss:active,
.btn-rss.active,
.open > .dropdown-toggle.btn-rss {
	background-image: none;
}

.btn-newsletter {
	color: #fff;
	background-color: #ff0000;
	border-color: transparent;
}
.btn-newsletter:hover,
.btn-newsletter:focus,
.btn-newsletter:active,
.btn-newsletter.active,
.open > .dropdown-toggle.btn-newsletter {
	color: #fff;
	background-color: #eb0000;
	border-color: transparent;
}
.btn-newsletter:active,
.btn-newsletter.active,
.open > .dropdown-toggle.btn-newsletter {
	background-image: none;
}

.btn-group-stacked .btn,
.btn-group-stacked .btn-group {
	margin-bottom: 4px;
}

@media (max-width: 767px) {
	.btn-group-stacked {
		width: 100%;
	}
	.btn-group-stacked .btn,
	.btn-group-stacked .btn-group {
		float: none;
		width: 100%;
		border-radius: 0;
		margin-bottom: 0;
	}
	.btn-group-stacked .btn + .btn,
	.btn-group-stacked .btn + .btn-group,
	.btn-group-stacked .btn-group + .btn,
	.btn-group-stacked .btn-group + .btn-group {
		margin: 0;
		margin-top: -1px;
	}
	.btn-group-stacked > .btn:nth-child(2) {
		border-bottom: 1px solid #ccc;
		margin-bottom: 10px;
	}
	.btn-group-stacked > .btn:last-child {
		border-bottom-left-radius: 3px !important;
		border-bottom-right-radius: 3px;
	}
}

.text-btn-center {
	display: inline-block;
	padding: 6px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 1.42857143;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	 -moz-user-select: none;
	  -ms-user-select: none;
		  user-select: none;
	background-image: none;
	border: 1px solid transparent;
}

/* -------------------------------------------------- */
/* panels */

.panel-dashboard > .panel-heading h4 { float: left; margin: 4px 0 0 0; }

.panel-article > .panel-heading h4 { margin: 5px 0 0 10px; }
.panel-article > .panel-heading a { color: #000; }
.panel-article > .panel-heading a > i { color: #fff; }

/* -------------------------------------------------- */
/* product listing */

.product-item { height: 300px; padding-top:10px; padding-right: 20px; border: 1px solid #ccc; border-top: none; border-left: none; }
.product-item-img { height: 100px; }
.product-item-img img {
	margin: 0 auto;
	display: block;
	height: 100% \9;
	max-height: 100%;
	width: auto;
}
.product-item-name { margin-top: 10px; height: 36px; font-weight: bold; overflow: hidden; }
.product-item-desc { margin-top: 10px; height: 54px; font-size: 12px; overflow: hidden; }
.product-item-cost { margin-top: 10px; height: 36px; font-weight: bold; white-space: nowrap; overflow: hidden; }

.product-latest { height: 330px; }

@media (max-width: 767px) {
	.product-item { height: auto; }
	.product-item-img { height: auto; }
	.product-latest { height: auto; }
}

/* -------------------------------------------------- */
/* product */

.product-icon { float:left; margin-right:20px; height:30px; background:transparent url('/img/www/icons/product_icons.png') no-repeat; }
.product-icon-rohs { width:27px; }
.product-icon-premium { width:32px; background-position:-27px 0; }
.product-icon-oshw { width:34px; background-position:-59px 0; }
.product-icon-usa { width:30px; background-position:-93px 0; }
.product-icon-fcc { width:37px; background-position:-123px 0; }
.product-icon-ce { width:43px; background-position:-160px 0; }
.product-icon-vcci { width:36px; background-position:-203px 0; }
.product-icon-ica { width:86px; background-position:-239px 0; }
.product-icon-iso { width:34px; background-position:-325px 0; }

.product-icon-rohs:hover { width:27px; background-position:0 -30px; }
.product-icon-premium:hover { width:32px; background-position:-27px -30px; }
.product-icon-oshw:hover { width:34px; background-position:-59px -30px; }
.product-icon-usa:hover { width:30px; background-position:-93px -30px; }
.product-icon-fcc:hover { width:37px; background-position:-123px -30px; }
.product-icon-ce:hover { width:43px; background-position:-160px -30px; }
.product-icon-vcci:hover { width:36px; background-position:-203px -30px; }
.product-icon-ica:hover { width:86px; background-position:-239px -30px; }
.product-icon-iso:hover { width:34px; background-position:-325px -30px; }

.panel-accordion > .panel-heading {
	padding: 0;
	overflow: hidden;
}

.panel-accordion > .panel-heading > .panel-title > a {
	padding: 10px 15px;
	outline: none;
	text-decoration: none;
	display: block;
	width: 100%;
}

/* opened */
.panel-accordion > .panel-heading .collapse-chevron:after {
	font-family: 'FontAwesome';
    content: "\f078";
	float: left;
    color: inherit;
	width: 1.28571429em;
	margin: 0 5px 0 0;
}
/* closed */
.panel-accordion > .panel-heading .collapse-chevron.collapsed:after {
    content: "\f054";
}

.panel-default * { color: #000; }
.panel-primary > .panel-heading > .panel-title small {
	color: #fff;
}

.panel-black {
	border-color: #000;
}
.panel-black > .panel-heading {
	color: #fff;
	background-color: #000;
	border-color: #000;
}
.panel-black > .panel-heading > .panel-title small {
	color: #fff;
}
.panel-black > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #000;
}
.panel-black > .panel-footer + .panel-collapse > .panel-body {
	border-bottom-color: #000;
}
.panel-black > .list-group .list-group-item,
.panel-black > .panel-collapse > .list-group .list-group-item {
  border-width: 1px 0;
  border-color: #000;
}
.panel-black > .list-group:last-child .list-group-item,
.panel-black > .panel-collapse > .list-group:last-child .list-group-item {
	border-bottom-width: 0;
}


.panel-disabled {
	border-color: #000;
	opacity: 0.3;
}
.panel-disabled > .panel-heading {
	border-color: #000;
}
.panel-disabled > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #000;
}
.panel-disabled > .panel-footer + .panel-collapse > .panel-body {
	border-bottom-color: #000;
}

/* -------------------------------------------------- */
/* product cycle */

.circle { vertical-align: middle; display: inline-block; width:14px; height:14px; border-radius:10px; margin-right:5px; }
.circle-red { background:#ff0000; }
.circle-blue { background:#007ace; }
.circle-green { background:#090; }
.circle-orange { background:#F60; }

/* -------------------------------------------------- */
/* product socket pinout */

.pinout { float:left; margin:0 21px 10px 0; width:384px; }
	.pinout-default { background:transparent url(/img/www/catalog/socket.png?v3) top left no-repeat; }
	.pinout-allpins { background:transparent url(/img/www/catalog/socket_allPins.png?v3) top left no-repeat; }
.socket-lside { float:left; width:141px; }
.socket-rside { float:left; width:141px; }
.socket { float:left; width:102px; height:251px; }
.socket-pin-top { margin-top:27px; }
.socket-lpin { padding-top:26px; height:19px; }
	.socket-lpin-txt { float:left; width:110px; white-space:nowrap; overflow:hidden; }
	.socket-lpin-num { float:left; width:26px; padding-right:5px; text-align:right; font-weight:bold; font-family:"Courier New", Courier, monospace; }
.socket-rpin { padding-top:26px; height:19px; }
	.socket-rpin-txt { float:left; width:110px; white-space:nowrap; overflow:hidden; }
	.socket-rpin-num { float:left; width:26px; padding-left:5px; font-weight:bold; font-family:"Courier New", Courier, monospace; }

/* -------------------------------------------------- */
/* product carousel */

.carousel {
	margin-bottom: 10px;
	background: #ccc;
	padding-bottom: 42px;
}
.carousel-control {
  width: 10%;
}
.carousel-control .fa-chevron-left,
.carousel-control .fa-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel-control .fa-chevron-left {
  left: 40%;
  margin-left: -10px;
}
.carousel-control .fa-chevron-right {
  right: 40%;
  margin-right: -10px;
}
.carousel-indicators {
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .carousel-control .fa-chevron-left,
  .carousel-control .fa-chevron-right {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
  }
  .carousel-control .fa-chevron-left {
    margin-left: -15px;
  }
  .carousel-control .fa-chevron-right {
    margin-right: -15px;
  }
}


/* -------------------------------------------------- */
/* support */

.support-icon { float:right; margin-top:10px; width:30px; height:30px; }
.support-icon-tuts { background:transparent url(/img/www/support/icon_tuts.png) no-repeat; }
.support-icon-help { background:transparent url(/img/www/support/icon_help.png) no-repeat; }
.support-icon-forum { background:transparent url(/img/www/support/icon_forum.png) no-repeat; }
.support-icon-guide { background:transparent url(/img/www/support/icon_guide.png) no-repeat; }

/* -------------------------------------------------- */
/* status */

#stickyStatus {
	position: fixed;
	z-index: 1000;
	border: 1px solid #000;
	border-radius: 4px;
}
#stickyStatus > .alert {
	margin-bottom: 0;
}
@media (min-width: 768px) {
	#stickyStatus {
		width: 750px;
	}
}
@media (min-width: 992px) {
	#stickyStatus {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	#stickyStatus {
		width: 1170px;
	}
}

/* -------------------------------------------------- */
/* users */

.user-item {
	height: 210px;
	overflow: hidden;
}

.user-hero {
	padding: 15px;
	background-color: #eee;
	border-radius: 4px;
}

/* -------------------------------------------------- */
/* forum */

.forum-listitem {
	padding: 10px 0 5px 0;
	border-bottom: 1px solid #ccc;
}

.msg-item {
	padding: 0 0 0 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 10px;
}

.msg-item blockquote {
	margin: 10px 0 10px 0;
	padding: 5px 5px 5px 10px;
	font-size: 100%;
	border-color: #ccc;
}

.topic-subject {
	padding-bottom: 5px;
	word-wrap: break-word;
}

.topic-bg-deleted {
	background-color: #fce2e2;
}
.topic-bg-deleted,
.topic-bg-deleted * {
	color: #bf3131 !important;
}
.topic-bg-deleted a {
	text-decoration: underline;
}

.msg-bg-deleted {
	background-color: #fce2e2;
}
.msg-bg-deleted,
.msg-bg-deleted * {
	color:#bf3131 !important;
}
.msg-bg-deleted a {
	text-decoration: underline;
}
.msg-bg-legend { background-color: #fef2f2; }
.msg-bg-support { background-color: #edf2f6; }
.msg-bg-highlight { background-color: #fdff9a; }
.msg-bg-answer { background-color: #e2f9d0; }

.msg-col-avatar, .msg-col-content {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.msg-col-avatar {
	float: left;
	width: 16.66666667%;
}

.msg-col-content {
	float: left;
	width: 83.33333333%;
	padding: 0 30px 15px 0;
}

.msg-col-content a {
	word-break: break-all;
}

.msg-col-content pre {
	padding: auto;
	font-size: 13px;
	color: #000;
	background-color: inherit;
	border: 1px solid #999;
	border-radius: 0;
	word-wrap: normal;
}

.msg-toolbar {
	background-color: #eee;
	border-bottom: 1px solid #ccc;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.msg-info {
	display: none;
	margin: 10px 0 10px 0;
}
.msg-info-hidden { display: block; }

@media (max-width: 400px) {
	.msg-col-avatar { width: 0; display: none; }
	.msg-col-content { width: 100%; padding-left: 30px; }
	.msg-info { display: block; }
	.msg-info-hidden { display: none; }
}
@media (min-width: 401px) and (max-width: 767px) {
	.msg-col-avatar { width: 24%; }
	.msg-col-content { width: 76%; }
}
@media (min-width: 768px) and (max-width: 991px) {
	.msg-col-avatar { width: 25%; }
	.msg-col-content { width: 75%; }
}

.search-content {
	padding: 15px;
}

/* -------------------------------------------------- */
/* carr */

.table-cart > tbody > td {
	line-height: 34px;
	vertical-align: middle;
}

/* -------------------------------------------------- */
/* codeshare */

.ghi-tag {
	float: left;
	margin: 0 4px 4px 0;
	padding: 2px 6px 2px 6px;
	cursor: default;
	color: #000;
	font-size: 13px;
}
.tag-name { float: left; }
.tag-used {
	float: left;
	padding:0 0 2px 5px;
	font-size: 10px;
}

.tag-norm {
	background-color: #c9dbf0;
	border: 1px solid #428bda;
	border-width: 1px 1px 2px 1px;
}
.tag-high {
	background-color: #fffa85;
	border: 1px solid #c5bf2c;
	border-width: 1px 1px 2px 1px;
}
.tag-none {
	background-color: #e9e9e9;
	border: 1px solid #cacaca;
	border-width: 1px 1px 2px 1px;
}

a .ghi-tag { cursor:pointer; }
a .tag-norm:hover {
	background-color: #e1ecf9;
	border: 1px solid #4896ea;
	border-width: 1px 1px 2px 1px;
}
a .tag-high:hover { background-color: #fffcab; }

.panel-code {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.panel-codearea {
	padding: 15px;
	white-space: nowrap;
	overflow: scroll;
	background-color: #f5f5f5;
}

/* -------------------------------------------------- */
/* homepage */

#heroes { position: relative; }

.vcenter {
	display: flex;
	align-items: center;
}

.hero {
	padding: 30px 0;
	width: 100%;
	height: 360px;
	background-color: #ccc;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-info {
	width: 70%;
	text-align: center;
}

.hero-info-left { margin: 0 auto 0 0; }
.hero-info-right { margin: 0 0 0 auto; }

.hero-info h1 {
	margin-top: 0;
	font-size: 36px;
	font-weight: bold;
}

.hero-info img {
	margin-bottom: 15px;
}

.hero-info p {
	font-size: 20px;
	margin-bottom: 20px;
}

.hero-info .btn-link { color: #fff; }

.hero-som {
	color: #fff;
	background-color: #3a2c1f;
	background-image: url(/img/www/homepage/som_bg.jpg);
}
.hero-beagle {
	color: #fff;
	background-color: #ed6624;
	background-image: url(/img/www/homepage/beagle_callout.png);
}
.hero-beagle h2 {
	font-weight: bold;
}
.hero-fsh {
	padding: 80px 0;
	color: #00ff00;
	background-color: #000;
	background-image: url(/img/www/homepage/fsh_bg.png);
}
.hero-netmf {
	padding: 55px 0;
	color: #fff;
	background-color: #68217a;
	background-image: url(/img/www/homepage/netmf_bg.jpg);
}
.hero-gadgeteer {
	color: #fff;
	background-color: #6c9aba;
	background-image: url(/img/www/homepage/gadgeteer_bg.jpg);
}

.rotator-circles {
	text-align: center;
	margin: 20px auto;
	width: 200px;
	color: #bbb;
}
.rotator-circles i {
	cursor: pointer;
	margin-right: 20px;
}
.rotator-circles i:last-child { margin-right: 0; }

@media (max-width: 479px) {
	.hero-info { width: 85%; }
	.hero-info h1 { font-size: 24px; }
	.hero-info p { font-size: 16px; }
}

@media (min-width: 768px) {
	.hero-info h1 { font-size: 34px; }
	.hero-info p { font-size: 18px; }
}

@media (max-width: 767px) {
	.vcenter { display: block; }
	.hero { height: 260px; }
	.hero-info img { width: 50%; }
	.hero-info-left,
	.hero-info-right { margin: 0 auto; }
	.hero-fsh { padding: 30px 0; }
	.hero-netmf { padding: 30px 0; }
}

/* catalog netmf selector */

.row-height {
	display: table;
	table-layout: fixed;
	height: 100%;
	width: 100%;
}

.col-height {
	display: table-cell;
	float: none;
	height: 100%;
}

.col-top { vertical-align: top; }
.col-middle { vertical-align: middle !important; }
.col-bottom { vertical-align: bottom; }

.catalog-netmf-header {
	text-align: center;
}

.catalog-netmf-header h3 {
	margin-bottom: 0;
	padding: 10px 0;
	border: 1px solid #808080;
	background-color: #e6e6e6;
}

.catalog-netmf-subheader {
	margin: 0 -15px 15px -15px;
	padding: 15px;
	text-align: center;
	color: #fff;
	background-color: #808080;
}
.catalog-netmf-subheader h3 {
	margin: 20px 0 20px 0;
}

.catalog-netmf-product {
	padding: 10px 0;
	text-align: center;
	height: 100%;
	border: 1px solid #808080;
	border-width: 0 1px 1px 1px;
}

.catalog-netmf-product-na {
	color: #999;
}

.catalog-netmf-product-img { height: 100px; }
.catalog-netmf-product-img img {
	margin: 0 auto;
	display: block;
	height: 100% \9;
	max-height: 100%;
	width: auto;
}

.catalog-netmf-product-name { height: 36px; overflow: hidden; }

.catalog-netmf-active {
	color: #29478a;
	background-color: #ecf2ff;
}
.table-striped > tbody > tr:nth-child(2n+1) > td.catalog-netmf-active, .table-striped > tbody > tr:nth-child(2n+1) > th.catalog-netmf-active {
	background-color: #dfe9ff !important;
}

.table-catalog-netmf {
	width: auto;
	text-align: center;
	border-top: 1px solid #808080;
}
.table-catalog-netmf > thead > tr > th:first-child,
.table-catalog-netmf > tbody > tr > th:first-child,
.table-catalog-netmf > tfoot > tr > th:first-child,
.table-catalog-netmf > thead > tr > td:first-child,
.table-catalog-netmf > tbody > tr > td:first-child,
.table-catalog-netmf > tfoot > tr > td:first-child {
	border-left: 1px solid #808080;
}
.table-catalog-netmf > thead > tr > th:last-child,
.table-catalog-netmf > tbody > tr > th:last-child,
.table-catalog-netmf > tfoot > tr > th:last-child,
.table-catalog-netmf > thead > tr > td:last-child,
.table-catalog-netmf > tbody > tr > td:last-child,
.table-catalog-netmf > tfoot > tr > td:last-child {
	border-right: 1px solid #808080;
}
.table-catalog-netmf > thead > tr:last-child > th,
.table-catalog-netmf > tbody > tr:last-child > th,
.table-catalog-netmf > tfoot > tr:last-child > th,
.table-catalog-netmf > thead > tr:last-child > td,
.table-catalog-netmf > tbody > tr:last-child > td,
.table-catalog-netmf > tfoot > tr:last-child > td {
	border-bottom: 1px solid #808080;
}

@media (max-width: 480px) {
	.col-height {
		display: inline-block;
		float: left;
		width: 100%;
	}
	.catalog-netmf-product {
		padding: 20px 0;
		border: none;
		border-bottom: 1px solid #808080;
	}
	.catalog-netmf-product-na {
		padding: 30px 0;
	}
}

@media (min-width: 481px) and (max-width: 991px) {
	.catalog-netmf-product {
		border: none;
	}
}

/* markdown */
.table-auto { width: auto; }
.table-auto thead > tr > th, 
.table-auto tbody > tr > td { padding-right: 20px; }
/*
.markdown table { margin:1em 0 1em 0; border-left:1px solid #ccc; }
.markdown table > thead { background:#808080; color:#fff; }
.markdown table th, .markdown table td { padding:.3em .5em .3em .5em; }
.markdown table > tbody tr:nth-child(even) { background-color:#f7f7f7; }
.markdown table > tbody tr:nth-child(odd) { background-color:#fff; }
.markdown table > tbody th { background:#808080; color:#fff; border:1px solid #999; border-width:0 1px 1px 0; }
.markdown table > tbody td { border:1px solid #ccc; border-width:0 1px 1px 0; }
.markdown table > tbody tr:first-child td { border-top-width:1px; }
*/
.markdown ul, .markdown ol { padding-left:1.4em; }
.markdown blockquote { margin:1em 0 1em 1em; padding:1em 1em 0 1em; background-color:#f1f1f1; border-width:1px 1px 1px 4px; }
.markdown blockquote > blockquote { margin-bottom:0; padding:.5em; }
.markdown blockquote p { margin:1em 0 0 0; }
.markdown blockquote p:first-child { margin-top:0; }

.letter { margin-bottom: 10px; padding: 5px 0; font-size: 18px; text-align: center; color: #808080; background-color: #ddd; }
.letter-bar {
	margin: 0;
	border-color: #808080;
}
